{% extends "layout.html" %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="one-half column" id="description">
        <h4>Tongue</h4>
        <p>A vocabulary builder for language learners</p>
      </div>
      <div class="one-half column" id="interaction"> 
        <form id="input_form">
          <input id="article_input" type="text" placeholder="a wikipedia article title">
          <input type="submit" value="Add">
        </form>
        <ul id="articles_list">
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% endblock js %}
